/* When using scc normalize it is not nessessory */

/* html {
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
} */

/* CSS variables */
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primery-white-color: #ffffff;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --timing: 250ms;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primery-white-color);

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    /* width: 1440px; */
    /* width: 1148px; */
    width: 1158px;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    border-radius: 4px;
    border: 1px solid transparent;

    padding: 16px 32px 16px 32px;
    min-width: 169px;

    cursor: pointer;
    transition: background-color var(--timing) var(--cubic);
}

.button.primary {
    color: var(--primery-white-color);
    background-color: var(--accent-color);

}

.button.primary:hover,
button.primary:focus {
    background-color: #404BBF;
}

.button.secondary {
    color: var(--accent-color);
    background-color: #F4F4FD;
    border: 1px solid var(--accent-color);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primery-white-color);
    background-color: #404BBF;
}

/* Index.html */
/*  Header */

header {
    max-width: 1440px;
    border-bottom: 1px solid #E7E9FC;
    margin-left: auto;
    margin-right: auto;
}

.container.nav {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.text {
    margin-top: 0;
    margin-bottom: 0;
}

.logo {
    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;

    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.logo .link {
    display: block;
    text-decoration: none;

}

.logo:hover {
    color: var(--accent-color);
}

.logo-span {
    color: var(--title-text-color);
}

/* Site nav */

.site-nav {
    display: flex;
}


/* чисткка геометрии */

/* .site-nav .item:last-child {
    margin-right: 0;
} */

/* .site-nav .item:not(:last-child) {
    margin-right: 40px;
} */

/* К верхнему соседу */
.site-nav .item+.item {
    margin-left: 40px;
}

.site-nav .link {

    position: relative;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--title-text-color);

    font-size: 16px;
    font-weight: 500;

    text-decoration: none;
}

/* .site-nav .link:hover,
.site-nav .link:focus {
    color: #404bbf
} */

/* .site-nav .link.active */
.link.active {
    color: #404bbf
}

/* .site-nav .link.active::after */
.link.active::after {
    color: #404bbf;
    position: absolute;
    display: block;
    content: "";
    width: 40px;
    ;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    border: none;
    bottom: 0;
    /* Position it at the bottom of the .link */
    left: 50%;
    /* Center it horizontally */
    transform: translateX(-50%);
    /* Center it horizontally */
}

/* Address */
.address {
    font-style: normal;
    margin-left: auto;

}

.address .list {
    display: flex;

}

.address .link {
    /* display: block; */

    color: #434455;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;

    text-decoration: none;
    transition: color var(--timing) var(--cubic);
}

.address .link:hover,
.address .link:focus {
    color: #404bbf;
}

.address .item+.item {
    margin-left: 40px
}

/* Main */

/* Hero 1 */
.hero {
    display: block;
    max-width: 1440px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--title-text-color);
    text-align: center;
}

.overlay {
    /* position: relative; */
    max-width: 1440px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people_office_01.png);

    background-color: var(--title-text-color);
}

.overlay-title {
    width: 496px;
    padding-top: 188px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    color: var(--primery-white-color);
    text-align: inherit;

    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
}


/* Modal window */
/* Backgtound of the modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* bottom:0;
    right:0; */
    background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 408px;

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 72px;
    padding-bottom: 24px;

    background-color: #fff;
}

.modal-title {
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;

    margin-top: 0;
    margin-bottom: 40px;
    padding-bottom: 0;

}

.modal-close {
    position: inherit;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(231, 233, 252, 1);
}

.modal-form {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    margin-bottom: 16px;
}

.modal .form-field {
    position: relative;
    display: block;
    margin-bottom: 24px;
}

.modal .form-label {
    position: absolute;
    top: -18px;
    left: 0;
    font-size: 14px;
    line-height: 1.15;
}


.modal .form-input {
    width: 100%;

    padding: 10px 20px;
    padding-left: 40px;
    font: inherit;
    border-radius: 3px;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal .icon {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    display: inline-block;
    width: 18px;
    height: 18px;
}

.modal .svg {
    width: 100%;
    height: 100%;
    fill: rgba(46, 47, 66, 0.4);

    /* This allows the SVG to inherit the text color */
}

.modal .form-field:focus-within .form-input,
.modal .form-field:focus-within .comment {
    border-color: #4D5AE5;
    outline: 0;
}

.modal .form-field:focus-within .svg {
    fill: #4d5ae5;
}

.modal .comment {
    resize: none;
    width: 100%;
    padding: 8px 16px;
    border-radius: 3px;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal .form-field.textarea {
    margin-bottom: 16px;
}

.modal .form-field .underline {
    color: var(--accent-color);
    text-decoration: underline;
}

.modal .button.primary {
    margin-left: auto;
    margin-right: auto;

}

/* .modal .form-field:focus-within .modal .form-field{
    border-color: blue;
    background-color: pink;
} */

/* .modal .form-input:focus {
    border-color: blue !important;
    background-color: pink;
} */

/* div.modal div.modal-form label.form-field:focus-within input.form-input {
    border-color: blue !important;
    background-color: pink;
} */

/* .form-field:focus-within>.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    transform: translateY(-50px);
} */

/* Sections */
.section {
    max-width: 1440px;
    padding-top: 0px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    color: var(--title-text-color);

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;

    text-transform: capitalize;

    margin-top: 0;
    margin-bottom: 72px;
}

/* Features 2 */
.features-list {
    display: flex;
    flex-wrap: wrap;
}

.features-list .item {
    width: calc((100% - 72px) / 4);
    margin-right: 24px;
    margin-bottom: 24px;
}

.features-list .item::before {
    display: block;
    content: '';
    height: 112px;
    border-radius: 4px;
    background-color: rgba(244, 244, 253, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px, 64px;
}

.item.icon-antenna::before {
    background-image: url(../images/antenna_1.png);
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: 64px, 64px; */
}

/* .features-list .item:nth-child(1)::before {
    background-image: url(../images/antenna_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px, 64px;
} */

.item.icon-clock::before {
    background-image: url(../images/clock_1.png);
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: 64px, 64px; */
}

/* .features-list .item:nth-child(2)::before {
    background-image: url(../images/clock_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px, 64px;
} */

.item.icon-diagram::before {
    background-image: url(../images/diagram_1.png);
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: 64px, 64px; */
}

/* .features-list .item:nth-child(3)::before {
    background-image: url(../images/diagram_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px, 64px;
} */

.item.icon-astronaut::before {
    background-image: url(../images/astronaut_1.png);
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: 64px, 64px; */
}

/* .features-list .item:nth-child(4)::before {
    background-image: url(../images/astronaut_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px, 64px;
} */

/* for n element in the row */
.features-list .item:nth-child(4n) {
    margin-right: 0;
}

/* alt */
/* .features-list .item:not(:nth-child(4n)){
    margin-right: 24px;
} */

/* for the last 4 elements in the container */
.features-list .item:nth-last-child(-n +4) {
    margin-bottom: 0;
}

/* alt */
/* .features-list .item:not(:nth-last-child(-n +4)){
    margin-bottom: 24px;
} */

.features-list .title,
.profile-list .title,
.projects-list .title {
    color: var(--title-text-color);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;

    margin-top: 0;
    margin-bottom: 8px;
}

/* Projects 3 */

.projects-list {
    display: flex;
    justify-content: center;
    margin: -12px;
}

.projects-list .item {
    margin: 12px;
}

/* Profile 4 */
.section.profile {
    background-color: #F4F4FD;
    padding-top: 120px;
    margin-bottom: 120px;
}

.profile-img {
    background-color: var(--primery-white-color);
    margin-bottom: 32px;
}

.profile-list {
    display: flex;
    justify-content: center;
    margin: -12px;
}

.profile-list .item {
    background-color: var(--primery-white-color);
    margin: 12px;
}

.profile-list .content {
    width: 232px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.profile-list .title,
.profile-list .text {
    text-align: center;
    margin-bottom: 8px;
}

.social-links {
    width: inherit;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.social-links .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    transition: background-color var(--timing) var(--cubic);
}

.social-links .icon .svg {
    width: 16px;
    height: 16px;
}

.social-links .icon:hover,
.social-links .icon:focus {
    background-color: #31D0AA;
}

/* Customers */
.customers-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.customers-list .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;

    border-radius: 4px;
    border: 1px solid rgba(142, 143, 153, 1);
    transition: border var(--timing) var(--cubic);

}

.company-link .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 56px;
    fill: #8E8F99;
    transition: fill var(--timing) var(--cubic);

}


.customers-list .item:hover,
.customers-list .item:focus,
.customers-list .icon:hover,
.customers-list .icon:focus {
    border-color: #404BBF;
    fill: #404BBF;
}


/* Profile.html */

.filter-nav {
    display: flex;
    justify-content: center;
    margin: 0 -12px;
    margin-bottom: 72px;
}

.filter-nav .item {
    margin: 0 12px;
}

.filter-nav button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    border-radius: 4px;
    border: 1px solid transparent;

    padding: 16px 32px 16px 32px;
    cursor: pointer;

    color: var(--accent-color);
    background-color: #F4F4FD;
    border: 1px solid var(--accent-color);

    transition: background-color var(--timing) var(--cubic);
}

.filter-nav button:hover,
.filter-nav button:focus {
    color: var(--primery-white-color);
    background-color: #404BBF;
}

/* Portfolio */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -24px -12px;
    margin-bottom: 120px;

}

.portfolio-list .item {
    display: inline-block;
    border: 1px solid #E7E9FC;
    cursor: pointer;
    margin-bottom: 40px;
}

.portfolio-list .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.prodact-thumb {
    position: relative;
    overflow: hidden;
}

.prodact-thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(244, 244, 253, 1);
    background-color: rgba(77, 90, 229, 1);

    transform: translateY(100%);
    opacity: 0;
    transition: transform var(--timing) var(--cubic),
        opacity var(--timing) var(--cubic);
    padding: 40px 32px;

}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list .item:hover .prodact-thumb-overlay {
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list .content {
    padding-left: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.portfolio-list .title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.portfolio-list .text {
    color: #434455;
    margin-bottom: 8px;
}


/* Footer */
.footer {
    max-width: 1440px;
    background-color: var(--title-text-color);
    margin-left: auto;
    margin-right: auto;
}

.footer .container {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .content {
    width: 264px;
    margin-right: 120px;
    /* padding-top: 100px;
    padding-bottom: 100px; */
}

.footer-text {
    color: #F4F4FD;
    margin-top: 0;
    margin-bottom: 0;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer .logo-span {
    color: #f4f4fd
}

.footer .social-links {
    width: 208px;
    display: flex;
    margin-bottom: 0;
    margin-right: 80px;
    flex-direction: column;
    justify-content: left;
}

.footer .media-icons {
    width: inherit;
    justify-content: space-between;
    display: flex;
    padding-top: 0;
}

.footer .media-title {
    width: inherit;
    font-size: 16px;
    font-weight: 500;
    color: var(--primery-white-color);
    margin-top: 0;
    margin-bottom: 16px;
}

.footer .subscribe {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
}

.footer .form-subscribe {
    width: 264px;
    margin-right: 24px;
}

.footer input {
    width: 100%;
    min-height: 40px;
    background-color: inherit;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--primery-white-color);


}

.footer input::placeholder {
    color: var(--primery-white-color);
}

.footer .form-label {
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    font-size: 16px;
    font-weight: 500;
    color: var(--primery-white-color);
}

/* .footer .form-subscribe:focus-within .text {
    border-color: #4D5AE5;
    outline: 0;
} */

.footer .button.primary{
    position: relative;
    height: 40px;
    padding:8px 24px;
    text-align: left;
}

.footer .button.primary .svg{
    position:absolute;
    top: 50%;
    right:24px;
    transform: translateY(-50%);
    width:24px;
    height: 24px;
    fill: var(--primery-white-color)
}