@import 'colors';
@import 'basic_styles';

/* Customers */
.section.customers {
  .container {
    .customers-list.list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: -8px;
      margin-right: -8px;
      margin-bottom: 96px;

      .item {
        flex-basis: 45%;
        margin-left: 8px;
        margin-right: 8px;
        height: 88px;
        margin-bottom: 72px;

        border-radius: 4px;
        border: 1px solid map-get($light-slate, value);
        transition: border $timing $cubic;
        &:hover,
        &:focus {
          border-color: map-get($ocean, value);
        }

        // Target the last row items
        &:nth-last-child(1),
        &:nth-last-child(2) {
          margin-bottom: 0;
        }
        .company-link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 104px;
            height: 56px;
            @include svg-fill($light-slate);
            transition: fill $timing $cubic;
            &:hover,
            &:focus {
              @include svg-fill($ocean);
            }

            .svg {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section.customers {
    .container {
      padding-left: 108px;
      padding-right: 108px;
      .customers-list.list {
        .item {
          flex-basis: 30%;

          // Target the last row items
          &:nth-last-child(1),
          &:nth-last-child(2),
          &:nth-last-child(3) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .section.customers {
    margin-bottom: 120px;
    .container {
      padding-left: 0;
      padding-right: 0;

      .customers-list.list {
        flex-wrap: nowrap;
        padding-left: 156px;
        padding-right: 156px;
        margin-bottom: 0;
        .item {
          margin-bottom: 0;
        }
      }
    }
  }
}
