// Define font style maps
$title-header1: (
  family: 'Roboto',
  weight: bold,
  size: 56px,
  letter-spacing: 0.02em,
  line-height: 1.07,
);

$header2: (
  family: 'Roboto',
  weight: 700,
  size: 36px,
  letter-spacing: 0.02em,
  line-height: 1.11,
);

$header3: (
  family: 'Roboto',
  weight: 500,
  size: 20px,
  letter-spacing: 0.02em,
  line-height: 1.2,
);

$body: (
  family: 'Roboto',
  weight: 400,
  size: 16px,
  line-height: 1.5,
  letter-spacing: 0.02em,
);

$small: (
  family: 'Roboto',
  weight: 400,
  size: 12px,
  line-height: 1.17,
  letter-spacing: 0.04em,
);

$body-medium: (
  family: 'Roboto',
  weight: 500,
  size: 16px,
  line-height: 1.5,
  letter-spacing: 0.02em,
);

$button-text: (
  family: 'Roboto',
  weight: 500,
  size: 16px,
  line-height: 1.5,
  letter-spacing: 0.04em,
);

$link-text: (
  family: 'Roboto',
  weight: 400,
  size: 12px,
  line-height: 1.33,
  letter-spacing: 0.04em,
  decoration: underline,
);

// Mixin to apply font styles
@mixin font-style($font-map) {
  font-family: map-get($font-map, family);
  font-weight: map-get($font-map, weight);
  font-size: map-get($font-map, size);
  letter-spacing: map-get($font-map, letter-spacing);

  @if map-has-key($font-map, line-height) {
    line-height: map-get($font-map, line-height);
  }

  @if map-has-key($font-map, decoration) {
    text-decoration: map-get($font-map, decoration);
  }
}

// Apply the mixin to your elements
// .title-header1 {
//   @include font-style($title-header1);
// }

// .header2 {
//   @include font-style($header2);
// }

// .header3 {
//   @include font-style($header3);
// }

// .body {
//   @include font-style($body);
// }

// .small {
//   @include font-style($small);
// }

// .body-medium {
//   @include font-style($body-medium);
// }

// .button-text {
//   @include font-style($button-text);
// }


